@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background-color: #1b2a35;
  margin: 0;
  padding: 0;
}

h1 {
  color: #236fa1;
  font-family: 'Tangerine', cursive;
  font-style: oblique;
	font-size: 4rem;
	margin: 0 auto 0 auto;
  text-align: center;
}

h2{
  color: #0f4c75;
  font-family: 'Tangerine', cursive;
  font-size: 50px;
  margin-bottom: 2rem;
}

h3{
 font-family: 'Baloo Chettan 2', cursive;	
 color: #3282b8;
 padding: 0;
 text-decoration: underline wavy;
 font-size: 1.5rem;
}

hr {
  margin: 1rem auto;
  margin-top: 0;
	border-width: 5px;
	border-color: #3282b8;
}

main {
  background-color: #d9e4e1;
}

header {
  padding-top: 1.2rem;
}

header{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}

.profile img {
  height: 10.5rem;
  width: 10rem;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  margin-bottom: 2rem;
}

header li {
  display: inline;
  padding: 0 1rem;
}

header nav ul li a {
  color: #236fa1;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'Baloo Chettan 2', cursive;
  transition: all 0.4s ease;
}

header nav ul li a.active {
  color: #1b2a35;
}

header nav ul li a:hover {
  color: #1b2a35;
  text-decoration: none;
}

.top-container {
  width: 100%;
  margin: 0;
}
.top-container .Intro {
  padding-bottom: 1rem;
  margin-top: 0.5rem;
}

.middle-container {
  width: 60%;
  margin: auto;
  text-align: center;
}

.profile {
  margin-bottom: 2rem;
}

.profile p{
  line-height: 1.7;
  display: block;
  font-size: 18px;
  font-style: normal;
}

.download-btn {
  display: inline-flex;
  align-items: center;
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.download-btn i {
  margin-right: 10px;
}

.download-btn:hover {
  background-color: #0056b3;
}

.download-btn:active {
  background-color: #003f7f;
}

.bottom-container {
  background-color: #fff;
  background: rgb(255,255,255);background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(217,228,225,1) 100%);
  text-align: center;
}

.skills {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.dropdown {
  margin-bottom: 15px;
}

.dropdown-toggle {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.dropdown-content {
  display: none; /* Hidden by default */
  margin-top: 10px;
}

.dropdown-content img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

footer {
  background: #1b2a35;
  text-align: center;
  margin: 2rem auto 1rem auto;
}

.footer-social-icons {
  display: flex;
  flex-direction: row;
}

.footer-social-icons ul {
  margin: auto;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.footer-social-icons li {
  display: inline;
  padding: 0 1rem;
}

.footer-social-icons ul li a i{
  background-color: #fff;
  color: #4f5052;
  font-size: 2rem;
  padding: 1.1rem 1.3rem;
  border-radius: 50%;
}