* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background-color: #1b2a35;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #115683;
  font-size: 4rem;
  margin: 0 auto;
  text-align: center;
}

h2 {
  color: #0f4c75;
  font-size: 50px;
  margin-bottom: 2rem;
}

h3 {
  color: #3282b8;
  font-size: 1.5rem;
}

main {
  background-color: #ffffff;
}

header {
  padding-top: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header li {
  display: inline;
  padding: 0 1rem;
}

header nav ul li a {
  color: #1b2a35;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.4s ease;
}

header nav ul li a.active {
  color: #236fa1;
}

header nav ul li a:hover {
  color: #236fa1;
  text-decoration: none;
}

header nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/* Slides */
.slides {
  display: none;
  padding: 20px;
}

/* Active slide */
.slides.active {
  display: block;
}

/* Navigation arrows */
.arrow {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(14, 93, 103);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  cursor: pointer;
  z-index: 1000; /* Ensure arrows are above other elements */
}

/* Position the "next button" to the right */
.arrow-right {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.arrow-left {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.top-container h1 {
  margin-bottom: 1rem;
}

.top-container p {
  font-size: 1rem;
  margin-top: 1rem;
}

.middle-container {
  width: 60%;
  margin: auto;
  text-align: center;
}

.profile img {
  height: 14rem;
  width: 10.5rem;
  border-radius: 80%;
  margin-bottom: 1rem;
}

.profile p {
  line-height: 1.7;
  font-size: 1rem;
}

.download-btn {
  display: inline-flex;
  align-items: center;
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.download-btn i {
  margin-right: 10px;
}

.bottom-container {
  background-color: #fff;
  background: rgb(255,255,255);
  text-align: center;
}

.skills {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.dropdown {
  margin-bottom: 15px;
}

.dropdown-toggle {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: #0a74da;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

.dropdown-toggle:hover {
  background-color: #0056b3;
}

.dropdown-content {
  display: none;
  margin-top: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

footer {
  background-color: #1b2a35;
  text-align: center;
  padding: 2rem 0;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-social-icons ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.footer-social-icons li {
  display: inline;
  padding-right: 10px;
}

.footer-social-icons ul li a i {
  background-color: #fff;
  color: #4f5052;
  font-size: 2rem;
  padding: 1.1rem 1.3rem;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.footer-social-icons ul li a:hover i {
  background-color: #236fa1;
  color: white;
}

@media (max-width: 768px) {
  .top-container h1 {
    font-size: 3rem;
  }

  .top-container p {
    font-size: 1.1rem;
  }

  .middle-container {
    width: 80%;
  }

  .profile img {
    height: 8rem;
    width: 8rem;
  }

  .skills {
    padding: 10px;
  }

  .footer-social-icons {
    gap: 0.5rem;
  }

  .footer-social-icons ul {
    justify-content: center;
  }
}